<!DOCTYPE html>
<html lang="en">
<head>
  {% load crispy_forms_filters %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    body {
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="login-box">
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      {% if form.errors %}
        <p class="error-message">Login or password not valid</p>
      {% endif %}
      <input type="submit" class="btn btn-primary mt-3" value="Submit">
      <input type="hidden" name="next" value="{{ next }}">
    </form>
    <a class="btn btn-secondary register-link" href="{% url 'user:register' %}">Register</a>
  </div>
</body>
</html>
