<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      <a class="btn btn-primary" href="{% url 'task_manager:profile' %}">Profile</a>
    </li>
    <li>
      <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Logout">
      </form>
    </li>
  {% else %}
    <li>
    <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <br>
  <li>
    <a href="{% url 'task_manager:position-list' %}">Positions</a>
  </li>
  <li>
    <a href="{% url 'task_manager:task-type-list' %}">Task types</a>
  </li>
  <li>
    <a href="{% url 'task_manager:task-list' %}">Tasks</a>
  </li>
  <li>
    <a href="{% url 'task_manager:task-created' %}">Created Tasks</a>
  </li>
</ul>
