{% extends "base.html" %}
{% block title %}
  <title>Profile</title>
{% endblock %}
{% block content %}
  <h1>
    Profile
  </h1>
  {% if user.first_name %}
    <p>First name: {{ user.first_name }}</p>
  {% endif %}
  {% if user.last_name %}
    <p>Last name: {{ user.last_name }}</p>
  {% endif %}
  {% if user.email %}
    <p>Email address: {{ user.email }}</p>
  {% endif %}
  {% if user.position %}
    <p>Position: {{ user.position }}</p>
  {% else %}
    <p>Position: Not set</p>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'task_manager:profile-update' user.pk %}">Update</a>
{% endblock %}
