{% extends "base.html" %}
{% block title %}
  <title>Task Detail</title>
{% endblock %}

{% block content %}
  <h1>Task Detail</h1>
  <p>Name: {{ task.name }}</p>
  {% if task.description %}
    <p>Description: {{ task.description }}</p>
  {% endif %}
  {% if task.status %}
    <p>Status: Complete</p>
  {% else %}
    <p>Status: Not Complete</p>
  {% endif %}
  <p> Type: {{ task.task_type.name }}</p>
  <p>Author: {{ task.author }}</p>
  <a class="btn btn-primary" href="{% url 'task_manager:task-complete' task.pk %}">
    {% if task.is_completed %}
      Discard task
    {% else %}
      Complete task
    {% endif %}
  </a>
{% endblock %}
